
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Đảm bảo kích thước tổng của phần tử là bao gồm cả padding và border */
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Thiết lập định dạng cho các select-guests-block */
.select-guests-block {
  margin-bottom: 10px;
}

/* Thiết lập định dạng cho các tiêu đề của input select */
.input_select_title_value {
  font-weight: bold;
}

/* Thiết lập định dạng cho các input select */
.input_select_input {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Thiết lập định dạng cho các nút increment và decrement */
.btn-increment-decrement {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-increment-decrement:hover {
  background-color: #0056b3;
}
